.todo-task {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2%;
    width: 80%;
    margin: 5px auto;
    border-radius: 10px;
}

.task-actions {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

.task-actions button {
    margin: 5% auto;
    height: 30%;
    width: 80%;
    appearance: none;
    border: none;
    padding: 2px;
    opacity: 0.6;
    border-radius: 5px;
    color: white;
}

.task-actions button:hover {
    opacity: 1;
    font-weight: bold;
}

.btn-task-edit {
    background-color: rgb(10,10,200);
    color: white;
}

.btn-task-delete {
    background-color: rgb(200,10,10);
    color: white;
}

.btn-task-unchecked {
    background-color: rgb(200,200,10);
}

.btn-task-checked {
    background-color: rgb(10,200,10);
}

.task-content {
    height: 100%;
    background-color: white;
    flex-basis: 80%;
    padding-left: 5%;
}

.task-content textarea {
    height: 100%;
    width: 100%;
}