
#divContainer {
    margin: 0;
    display : flex;
    flex-wrap: wrap;
}

#div1 {
    flex-basis: 100%;
    height: 10vh;
    background-color: red;
}

#div2 {
    flex-basis: 10%;
    height: 90vh;
    background-color: blue;
}

#div3 {
    flex-basis: 90%;
    height: 90vh;
    background-color: green;
}
/* FLEXBOX
#divContainer {
    margin: 0;
    display : flex;
    flex-wrap: wrap;
}

#div1 {
    flex-basis: 100%;
    height: 10vh;
    background-color: red;
}

#div2 {
    flex-basis: 10%;
    height: 90vh;
    background-color: blue;
}

#div3 {
    flex-basis: 90%;
    height: 90vh;
    background-color: green;
}
*/


