<div>
    <form asp-controller="Home" asp-action="SubmitForm" method="post">
        <div>
            <input type="text" placeholder="Votre Age" name="age" />
        </div>
        <div>
            <button type="submit">Valider</button>
        </div>
    </form>
</div>