@model List<Annonce>
@inject FormatService _formatService;
<section class="row m-1">
    <form class="col" asp-controller="Annonce" asp-action="SubmitSearch" method="post">
        <div class="row justify-content-center m-1">
            <input type="text" name="search" placeholder="Votre recherche..." class="col-6 form-control p-1" />
            <button type="submit" class="col-2 btn btn-primary">Rechercher</button>
        </div>
    </form>
</section>
<section class="row">
    @if (Model != null)
    {
    <div class="col">
        @if (Model.Count == 0)
        {
            <div class="row justify-content-center">
                <div class="col alert alert-danger">
                    Aucune annonce pour cette recherche
                </div>
            </div>
        }
        else
        {
            @foreach(Annonce a in Model)
                    {

                        <a class="row" asp-action="Detail" asp-controller="Annonce" asp-route-id="@a.Id">
                            <div class="col-3">
                                <img src="~/@a.Images[0].Url" />
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <h2 class="col-10">
                                        @a.Titre
                                    </h2>
                                    <span class="col-2">
                                        @_formatService.FormatPrice(a.Prix)
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        @_formatService.TextReduction(a.Description)
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
        }
    </div>
}
</section>