<%- include("../partials/header.ejs"); %>
    </header>
    <main class="container">
        <h1>Description</h1>
        <div>
            <%= description %>
        </div>
    </main>
<%- include("../partials/footer.ejs"); %>