<%- include("../partials/header.ejs"); %>
    </header>
    <main class="container">
        <div class="alert alert-danger">
            Erreur cette page n'exisite pas
        </div>
    </main>
    <%- include("../partials/footer.ejs"); %>