<%- include('../partials/header') %>
    <div class="row m-1">
        <form class="col" action="submitProduct" method="POST">
            <div class="row m-1">
                <input type="text" name="name" placeholder="Nom du produit" class="form-control col p-1" />
            </div>
            <div class="row m-1">
                <input type="number" name="price" placeholder="Prix du produit" class="form-control col p-1" />
            </div>
            <div class="row m-1">
                <input type="text" name="category" placeholder="Catégorie du produit" class="form-control col p-1" />
            </div>
            <div class="row m-1">
                <textarea name="description" placeholder="description du produit" class="form-control col p-1" ></textarea>
            </div>
            <div class="row m-1">
                <button type="submit" class="btn btn-warning col">Valider</a>
            </div>
        </div>
    </div>
<%- include('../partials/footer') %>
