.card{
    width: 250px;
    margin: 10px;
    padding: 20px;
}

.card-title{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.catgory{
    margin: 15px 0;
}

.img{
    width: 250px;
    transform: translatex(-21px);
}
.difficulte{
    display: flex;
    margin-bottom: 10px;
}
.stars{
    margin-left: auto;
    margin-right: auto;
}

.dif-label{
    margin-right: 20px;
}
.price{
    font-size: larger;
    font-weight: bold;
}