html{
    height: 100%;
    }
    body{
        margin:0;
        padding:0;
        height: inherit;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: 10% auto 10%;   
        text-align: center;
        color: white;
        }
        header,aside,div,footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        header{
            grid-column:1/8;
            background-color: #ff5555;
        }
        aside{
            grid-row: 2/4;
            background-color: #5586ff;
        }
            #aleft{
                grid-column:1;
            }
            #aright{
                grid-column:7;
            }
        main{
            grid-column: 2/7;
            background-color: white;
            display: flex;
            justify-content: space-between;
            gap: 0.5%;

        }
            div{
                background-color: #55d87b;
                flex-grow: 1;
            }
        footer{
            grid-row: 3;
            grid-column: 2/7;
            background-color: #ffd801;
        }