.cart-list {
	color: white;
	background-color: rgb(40, 44, 52);
	padding: 32px;
	border-radius: 25px;
	width: 300px;
}

.inner-card {
	border: 1px solid rgb(107, 107, 107);
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 15px;
}

.vide {
	margin-bottom: 20px;
}
.relative{
	position: relative;
}
.over {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}