* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
.jumbotron{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  background-image: linear-gradient(to top, #ff5227 0%, #ffa488 100%);
}

.calculatrice {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px rgb(12, 12, 12);
}

.titre {
  color: white;
}

.ecran {
  width: 100%;
  height: 100px;
  background-color: rgb(216, 227, 233);
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  font-size: 25px;
}

.ecranHaut {
  height: 50%;
  text-align: right;
  padding-right: 10px;
}

.ecranBas {
  height: 50%;
  text-align: right;
  padding-right: 10px;
}

.touches {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 7px;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 3px #a8a8a8;
  font-size: 18px;
}

button:active {
  box-shadow: 0 1px #a8a8a8;
  transform: translateY(2px);
}

button[data-key="8"] {
  background-color: #ff310d;
  font-weight: bold;
  color: white;
}

button[data-key="13"] {
  grid-column: span 2;
  background-color: #494949;
  font-weight: bold;
  color: white;
  font-size: 35px;
}