<!Doctype html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header class="container-fluid">
        <nav class="row">
            <li class="col">
                <a asp-controller="Contact" asp-action="List">Liste</a>
            </li>
            <li class="col">
                <a asp-controller="Contact" asp-action="Form">Formulaire de contact</a>
            </li>
            
        </nav>
    </header>
    @RenderBody()
</body>
</html>